# Misc
.idea
.github
.circleci
codegen.json

# Build
build
web/dist
web/README.md

# Deps
node_modules
venv

# Generated
out
keys

# External
docs

# Allow only enterprise/web folder
enterprise/*
!enterprise/web
